* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  min-height: 100vh;
}

main {
  margin: 4rem auto;
  width: 99%;
  max-width: 1400px;
  min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
li,
i {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
