.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 920px) {
  .container {
    justify-content: space-evenly;
  }
}
