.navheader {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  color: #fff;
  margin: 0 auto;
  max-width: 1400px;
}

.nav_links a {
  color: #fff;
  text-underline-offset: 0.25rem;
}

.logo {
  font-size: clamp(1rem, 2vw, 2rem);
}

.logo a {
  color: rgb(215, 32, 32);
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover > a {
  transition: 0.3s ease;
  text-decoration: underline;
  color: red;
}

.menu li {
  padding: 5px 14px;
}

.services {
  position: relative;
}

.dropdown {
  background-color: #141414;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  z-index: 5;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #464646;
}

.services:hover .dropdown {
  display: block;
}

.navbar input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #141414;
    right: 0;
    left: 0;
    text-align: center;
    padding: 2rem 0;
    margin-top: 0.5rem;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
    z-index: 5;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    border: 1px solid #9a9a9a;
    left: 50%;
    top: -30px;
    transform: translateX(35%);
  }
}
